# VS Code
.vscode/

# Visual studio Project files
.vs/
**.user
**.sln
**.vcxproj*
**.csproj
**.slnx

# Binary files
**/bin/
bin-int/
Intermediates/

# Log files
**.log
# Profile files
**.profile.json

# MakeFile
**/MakeFile
**.make

# Asset files
Assets/local/
Assets/**/local
Assets/**.local.*

# Local Files
**.local.*

# Temporary files
.tmp_flecs/

# Python
__pycache__/